<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Career Assistant</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>AI Career Assistant</h1>

    <h3>Resume Analyzer</h3>

    <form action="/analyze-resume" method="post" enctype="multipart/form-data">

        <label>Resume PDF</label>
        <br><br>

        <input type="file" name="file">

        <br><br>

        <label>Job Description</label>

        <br><br>

        <textarea name="job_description" rows="10" cols="50"></textarea>

        <br><br>

        <button>Analyze Resume</button>

    </form>
</body>
</html>