<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Career Assistant</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">

        <h1>AI Career Assistant</h1>

        <h2>Resume Analyzer</h2>

        <form action="/analyze-resume" method="post" enctype="multipart/form-data">   
            <label>Upload Resume</label>

            <input
                type="file"
                name="file"
                required
            >

            <label> Job Description</label>

            <textarea
                name="job_description"
                rows="10"
                required
            ></textarea>

            <button type="submit"> Analyze Resume </button>
            <a href="/web" class="back-button">
                Analyze Another Resume
            </a>
        </form>
    </div>
</body>
</html>